#map{
    height:100vh;
    z-index: 1;
}

.btn{
    position: absolute;
    z-index: 9999;
    margin-left: 85%;
    margin-top: 3%;
    outline: 1px solid black;
}

.live-text{
    text-align: right;
}

.selection{
    position: absolute;
    bottom: 0px;
    left: 13.5%;
    z-index: 99;
    width: 75%;
    background-color: grey;
    border: 1px solid black;
}

.wrapper{
    position: relative;

}