@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.header-nav{
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between;
}
.tags-nav{
    text-decoration: none;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size:1rem;
}

.tags-nav:hover{
    text-decoration:none;
    color:#FDD7AD;
}
a{
    color:white;
}
.active{
    text-decoration:underline;
}
#map{
    height:100vh;
    z-index: 1;
}

.btn{
    position: absolute;
    z-index: 9999;
    margin-left: 85%;
    margin-top: 3%;
    outline: 1px solid black;
}

.live-text{
    text-align: right;
}

.wrapper{
    position: relative;

}

.option-bar{
    position: absolute;
    bottom: 0px;
    left: 2.5%;
    z-index: 99;
    width: 95%;
    background:white;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 1rem 1rem 0 0;
}

.title{
    font-family: 'Nunito', sans-serif;
}

.live-title{
    font-size:1.5rem;
}

.page-title{
    font-size: 2rem;
}
.nav-btn{
    text-align: center;
}
.glass-icon:hover{
    transform:scale(1.3);
}

.box{
    position: absolute;
    width:50%;
    height:50%;
    z-index: 99;
    top:25%;
    left:25%;
    background:white;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 1rem;
}
@media screen and (max-width: 426px) {
    .glass-icon{
        width:95%
    }
  }

@media screen and (min-width: 787px) {
    .option-bar{
        left:20%;
        width:60%
    }
  }