#map{
    height:100vh;
    z-index: 1;
}

.btn{
    position: absolute;
    z-index: 9999;
    margin-left: 85%;
    margin-top: 3%;
    outline: 1px solid black;
}

.live-text{
    text-align: right;
}

.option-bar{
    position: absolute;
    bottom: 0px;
    left: 13.5%;
    z-index: 99;
    width: 75%;
    background:white;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 1rem 1rem 0 0;
}

.wrapper{
    position: relative;

}